# Ignore everything by default
*

# Allow specific files
!src/**/*.ts
!package.json
!package-lock.json
!tsconfig.json
!tsdown.config.ts
!README.md
!LICENSE
!CHANGELOG.md
!bun/**
!CONTRIBUTING.md
!.changeset/**
!.github/**
